.highlight-active {
  background-color: #ddddff;
}

.highlight-passive {
  background-color: #eeeeee;
}

.highlight-running {
  background-color: #ffcccc;
}

.prim-function {
  color: #003300;
  font-weight: bold;
}

.error {
  color: red;
}

.stack td {
  border: 1px solid black;
}

.horizontal {
  display: flex;
}

.block {
  border: 1px solid transparent;
}

.block-highlight {
  border-color: grey;
  background-color: #eeeeee;
}

.block-active {
  border-color: black;
}