.highlight-active {
  background-color: #ddddff;
}

.highlight-passive {
  background-color: #eeeeee;
}

.prim-function {
  color: #003300;
  font-weight: bold;
}

.error {
  color: red;
}

.stack td {
  border: 1px solid black;
}
